language: php
dist: trusty

php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2

matrix:
  fast_finish: true

branches:
  only:
    - master

install:
  - travis_retry composer install --no-interaction --prefer-dist --no-suggest

script:
  - ./vendor/bin/phpunit -c phpunit.ci.xml
